.support1 {
    display: block;
}

.support1 h1 {
    font-size: 36px;
    font-weight: 600;
    padding-top: 12px;
    padding-bottom: 12px;
}

.support1 p {
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #363636;
    padding-top: 8px;
    padding-bottom: 8px;
}

.support1 span {
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: rgb(147 51 234);
}

.support1 h2 {
    font-size: 32px;
    font-weight: 600;
    padding-top: 12px;
    padding-bottom: 12px;
}

.support-slider {
    position: relative;
}

.overlay {
    visibility: hidden;
    position: absolute;
}

.support-slider:hover .overlay {
    visibility: visible;
}
